button {
	background: #ff7f00;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 2px;
	padding: 10px;
	box-shadow: 0 3px 1px -1px #c57117;
	margin: 20px auto;
	display: block;
	cursor: pointer;
}

p {
	font-size: 22px;
	text-align: center;
	font-family: Arial, sans-serif;
}